<div class="row">
  <div class="span10 offset1">
  	

<h3>ヘルプ</h3>
<dl>
  <dt>1.ユーザー</dt>
  <dd>
    <ul>
      <li>登録</li>
        <ul>
          <li>TwitterのOAuth認証を利用してユーザー登録を行っています。TwitterとMyFragmentsの連携を認証することでユーザー登録できます。</li>
        </ul>
      <li>退会</li>
        <ul>
          <li>ユーザーメニューから退会を選ぶことでユーザーを削除できます。</li>
          <li>退会と同時に登録されたメモも削除します。削除したデータは復元できません。</li>
        </ul>
      <li>ログイン</li>
        <ul>
          <li>TwitterとMyFragmentsの連携を認証することでログインできます。</li>
        </ul>
      <li>ログアウト</li>
        <ul>
          <li>一定期間が経つとで自動でログアウトします。再度ログインしてください。</li>
          <li>手動でログアウトする場合は、ユーザーメニューからログアウトを選んでください。</li>
        </ul>
    </ul>
  </dd>

  <dt>2.メモ</dt>
  <dd>
    <ul>
      <li>投稿</li>
        <ul>
          <li>右上のテキストエリアに入力して鉛筆ボタンをクリックしてください。</li>
          <li>最大256字まで投稿できます。</li>
          <li>空白での投稿はできません。</li>
          <li>1つのメモにつき、タグを16個まで設定することができます。</li>
        </ul>
      <li>編集</li>
        <ul>
          <li>編集ボタンをクリックすることで編集できます。</li>
        </ul>
      <li>削除</li>
        <ul>
          <li>ゴミ箱ボタンをクリックすることで削除できます。削除したメモは復元できません。
        </ul>
      <li>並べ替え</li>
        <ul>
          <li>移動ボタンをドラッグ＆ドロップすることで任意の順番に並べ替えることができます。</li>
        </ul>
    </ul>
  </dd>


  <dt>3.タグ</dt>
  <dd>
    <ul>
      <li>設定</li>
        <ul>
          <li>メモを登録する時に、テキストエリアの下の入力欄にタグを入力することで設定できます。</li>
          <li>空白で区切ることで、複数のタグを設定することができます。</li>
          <li>1つのメモにつき、最大16個まで登録できます。</li>
          <li>1つのメモにつき、最大128文字まで登録できます。</li>
        </ul>
      <li>編集</li>
        <ul>
          <li>タグアイコンをクリックすることで編集できます。</li>
        </ul>
    </ul>
  </dd>
  
  <dt>4.検索</dt>
  <dd>
    <ul>
      <li>文字列検索</li>
        <ul>
          <li>左側の入力欄に検索したい文字列入力して検索ボタンをクリックしてください。</li>
          <li>空白で区切ることで、AND検索が行えます。</li>
          <li>検索対象はメモとタグ両方です。</li>
        </ul>
      <li>タグ検索</li>
        <ul>
          <li>タグのリンクをクリックすることで、同じタグがついたメモを検索できます。</li>
        </ul>
    </ul>
  </dd>
  


</dl>


  </div>
</div>
