<div class="row">
  <div class="span10 offset1">

<h3>MyFragments利用規約</h3>
<dl>
  <dt>1.利用規約について</dt>
  <dd>
    <ul>
      <li>kanorimon（以下「運営者」といいます。）が管理、運営するWebサービス「MyFragments」（以下「本サービス」といいます。）の利用について、以下のとおり「MyFragments利用規約」（いか「本規約」といいます。）を定めます。 </li>
      <li>利用者が本規約を確認したか否かを問わず、本サービスの利用を開始した時点で、本規約に同意したものとします。</li>
      <li>本規約の変更通知について、本サービス上に掲載することにより、利用者に通知したものとします。また、その掲載した時点で効力を発するものとします。</li>
    </ul>
  </dd>

  <dt>2.本サービスについて</dt>
  <dd>
    <ul>
      <li>本サービスの利用料金は、無料とします。</li>
      <li>本サービスは、予告なくメンテナンスを実施することがあります。</li>
      <li>本サービスは、予告なくサービスを終了することがあります。</li>
    </ul>
  </dd>

  <dt>3.免責事項</dt>
  <dd>
    <ul>
      <li>本サービスは、以下の内容について一切の保証を行うものではありません。</li>
        <ul>
          <li>サービス内容が利用者の要求に合致すること。</li>
          <li>サービスが中断されないこと。</li>
          <li>サービスにおいていかなるエラーや不具合または障害が発生しないこと。</li>
          <li>サービスにいかなる内容の不備、誤り等がないこと。</li>
          <li>利用者が登録したデータが保管されること。</li>
          <li>利用者の機器及びソフトウェアの動作。</li>
        </ul>
      <li>運営者は、利用者の損害について、一切責任を負わないものとします。</li>
      <li>運営者は、利用者の承諾なく、又は利用者への事前の通知を行うことなく、任意に本サービスの全体若しくは一部を変更し、又は一時中断し、停止し、若しくは終了することがあります。この場合も、運営者は、利用者に対していかなる責任も負わないものとします。</li>
    </ul>
  </dd>

  <dt>4.禁止行為</dt>
  <dd>
    <ul>
      <li>本サービスを、非合法な目的で利用することを禁止します。</li>
      <li>本サービスを利用するに当たり、以下に該当し、又はその恐れのある行為を禁止します。</li>
        <ul>
          <li>本サービス又は本サービスに接続しているサーバー若しくはネットワークを妨害したり、混乱させたりすること。</li>
          <li>故意又は過失を問わず法令に違背する行為。</li>
        </ul>
      <li>運営者が承認した場合を除き、利用者は、本サービス、本サービスの利用（使用）又は本サービスへの接続について全部又は一部を問わず、転売し、又は転用することを禁止します。</li>
    </ul>
  </dd>

  <dt>5.プライバシーについて</dt>
  <dd>
    <ul>
      <li>運営者は、個人のプライバシー、名誉その他第三者の権利を侵害することのないよう、利用者に関する情報の取扱いに十分、配慮します。</li>
    </ul>
  </dd>

</dl>

  </div>
</div>

