<div class="text-right" id="tag_<%= @memo_id %>">
  <% @tags.each do |tag| %>
    <a href="#"><%= tag.name %></a>&nbsp;
  <% end %>
  <%= link_to '<i class="icon-tags"></i> '.html_safe, tags_input_path(:memo_id => @memo_id) , :remote => true %>
</div>
