     html {  
        overflow-y:scroll;  
        word-wrap:break-word;
      }

      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      
      .my-icon{
        margin-right:5px;
      }

      .media-border{
        margin:0;
        padding:0;
        border: 0px solid #aaaaaa;
      }
      
     .modal-backdrop {background: none;}

     .row-under{
       margin-top: 2px;
      }  

      .container-fluid,
      .row-fluid { height: inherit; }
      
      p {
        margin: 0;
      }

      hr {
        margin: 10px 0;
        border: 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #ffffff;
      }

      hr.memo {
        margin: 5px 0 10px 0 ;
        border: 0;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #ffffff;
      }
      

      form {
        margin: 0;
      }

      .weak {
        font-size: 85%;
        color: #999999;
      }

      .login_comment {
        font-size: 85%;
      }      
      .login_button{
      	  margin-top: 20px;
      	
      }

.navbar .brand {
    max-height: 40px;
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 0;
}
      
